@use "../node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "orange",);
@use "../node_modules/@picocss/pico/scss/colors" as *;
    

body {
    // background-color: rgb(250, 249, 246);

	.pico-reset {
		all: revert;
		box-sizing: border-box;
	}


    #main-img {
        border-radius: 16px;
        margin-bottom: 16px;
    }

    .image-team {
        height:64px;
        margin: 0px 16px;
    }

    #card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem; /* spacing between cards */
        justify-content: flex-start; /* or center / space-around etc. */
        align-items: flex-start;
    }

    .card {
        display: inline-block;
        width: fit-content;
        max-width: 100%;
        border-radius: 16px;
        margin:2%;
    }

	.splide {
		p {
			text-align: center;
		}
	}

    #project-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem; /* spacing between cards */
        justify-content: flex-start; /* or center / space-around etc. */
        align-items: flex-start;
    }

    .project {
        display: inline-block;
        width: fit-content;
        width: 340px;
        border-radius: 16px;
        margin:2%;

		header {
			text-align: center;
			font-weight: bold;
		}

		img {
			width: 100%;
			height: auto;
		}

		footer {
			overflow-wrap: break-word;
			word-wrap: break-word;
		}
    }

}

span {
    color: rgb(210, 67, 23)
    }

header, footer {
    background-color: rgb(233, 233, 233);
 
    h2, p {
        color: $orange-900;
    }

    .icon {
    width: 1.5rem;
    height: auto;
    }   
}
