@use "../node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "orange",);
    

body {
    // background-color: rgb(250, 249, 246);

    #main-img {
        border-radius: 16px;
        margin-bottom: 16px;
    }

    .image-team {
        height:64px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem; /* spacing between cards */
        justify-content: flex-start; /* or center / space-around etc. */
    }

    .card {
        display: inline-block;
        width: fit-content;
        max-width: 100%;
        border-radius: 16px;
        margin:2%;
    }


}

span {
    color: rgb(210, 67, 23)
    }

header, footer {
    background-color: rgb(233, 233, 233);
 

    .icon {
    width: 20px;
    height: auto;
    }   
}
